<!DOCTYPE html>
<html>
<head>
    <title>Fleet complete - Yuriy Bregman - test assignment</title>
    <link rel='stylesheet' href='/stylesheets/app.css'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div id="app" class="container my-4">
    <api-token-form></api-token-form>
    <hr>
    <div class="row">
        <div class="col">
            <%- include('partials/controls') %>
        </div>
        <div class="col">
            <%- include('partials/map') %>
        </div>
    </div>
</div>
<script src="/javascript/main.js"></script>
</body>
</html>
