<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fleet complete - Yuriy Bregman - test assignment</title>

    <link rel='stylesheet' href='/stylesheets/app.css'/>
    <script src="/javascript/main.js" defer></script>
</head>
<body>
<div id="app" class="container my-4">
</div>
</body>
</html>
